*.sh text eol=lf
*.py text eol=lf
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Makefile text eol=lf
*.md text eol=lf
*.env text eol=lf
*.json text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.ipynb text eol=lf
*.log text eol=lf
*.ini text eol=lf
*.toml text eol=lf
*.lock text eol=lf
